*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
*{
	transition: 0.5s all ease-in;
	-webkit-transition: 0.5s all ease-in;
	-moz-transition: 0.5s all ease-in;
	-ms-transition: 0.5s all ease-in;
}
html{
	padding-top: 0px;
}
body{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
.page-wrapper{
	width: 100%;
	margin-top: -25px;
}
.cover{
	width: 100%;
	height: 500px;
	background: url(../images/cover3.jpg) no-repeat scroll center -50px / cover transparent;
}
.layer{
	height: 100%;
	width: 100%;
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.42);
}
.org{
	display: none;
}
	.intro{
		width: 100%;
		height: 100px;
		margin: 0px auto;
		padding-top: 220px;
		text-align: center;
	}
		.name{
			margin:0;
			font-size: 3em;
			/*color: #7E6E57;*/
			color:#E8DCFF;
		}

		.introAbout{
			font-size: 1.2em;
			/*color: #494949;*/
			color: #D7CFF9;
		}
.container{
	width: 100%;
	padding: 0 4rem;
}

.row{
	width: 100%;
	clear: both;
}
.heading{
	font-size: 32px;
	text-align: left;
	color: #7E6E57;
	margin: 30px 10px ;

}
.listItem{
	width: 100%;
	clear: both;
	padding-top: 10px;
}
.rightText{
	text-align: right;
}
.left{
	float: left;
}
.right{
	float: right;
}

.block{
	width: 20%;
	height: 180px;
	color: #fff;
	margin: 40px 40px;

}
.block img{
	width: 90%;
	height: 170px;
}

.listContent{
	width: 70%;
	float: left;
	margin-top: 20px;
	padding:20px;
  line-height: 38px;
}
#contact{
	height: 350px;
}
	.socNet{
		width: 550px;
		margin: 100px auto;
		text-align: center;
	}
		.btn-social{
			display: inline-block;
			float: left;
			border:2px solid #fff;
			width: 120px;
			height: 40px;
			padding-top: 10px;
			text-align: center;
			text-decoration: none;
			color: #fff;
			font-weight: bold;
			margin-left: 2px;
			background-color: #000;
		}

		.btn-social:hover{
			color: #000000;

		}


.twitter{
	background-color: #3687C7;
}
.twitter:hover{
	color: #3687C7;
	border-color: #3687C7;
	background-color: #fff;
}

.facebook{
	background-color: #45619D;
}
.facebook:hover{
	color: #45619D;
	border-color: #45619D;
	background-color: #fff;
}

.linkedIn{
	background-color: #1B86BC;

}

.linkedIn:hover{
	color: #1B86BC;
	background-color: #fff;
	border-color: #1B86BC;
}

.github{
	background-color: #829AA8;
}
.github:hover{
	color: #829AA8;
	border-color: #829AA8;
	background-color: #fff;
}

@media (max-width:770px){
	.heading{
		font-size: 22px;
	}
	.container{
		padding:1px;
	}
	.cover{
		  background: url(../images/cover3.jpg) no-repeat scroll center 0px / cover transparent;
	}
	.block{
		height: 20px;
		margin: 0;
		text-align: center;
		display: none;
	}
	.block img{
	width: 80%;
	height: 40px;
	margin: 0 auto;
	}
	.listItem{

	}
    .listContent{
    	margin-top: 0;
    	width: 100%;
    	font-size: 15px;
    }
    .org{
		display: block;
		width: 100%;
		font-weight: bold;
		color: #7E6E57;
	}
	.btn-social{
		display: block;
		float: none;
		width: 90%;
		margin: 5px auto;

	}
	.socNet {
		width: inherit;
		margin: 40px auto;
	} 
}