    <section id="updates">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="updates-wraper">
              <div class="updates-image wow fadeInUp" data-wow-delay="0.2s">
                <img src="/images/image2.svg" alt="#">
              </div>
              <div class="updates-form header-form wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="font-h5">Subscribe for exclusive</h5>
                <h3 class="font-h3">news and updates!</h3>
                <form action="" method="">
                  <div class="form-group">
                    <input type="email" name="email" placeholder="Enter your email">
                    <button type="submit" class="btn-bg hover-bg">Subscribe</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="copyright-text wow fadeInUp" data-wow-delay="0.2s">
              <p>©2016-2024 Prasun Anand</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- JavaScripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>

  </body>
</html>
