    <section id="updates">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="updates-wraper">
              <div class="updates-image wow fadeInUp" data-wow-delay="0.2s">
                <img src="/images/image2.svg" alt="#">
              </div>
              <div class="updates-form header-form wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="font-h5">Subscribe for exclusive</h5>
                <h3 class="font-h3">news and updates!</h3>
                <form action="https://zasper.io/newsletter" method="POST">
                  <div class="form-group">
                    <input type="email" name="email" placeholder="Enter your email">
                    <button type="submit" class="btn-bg hover-bg">Subscribe</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="footer-info wow fadeInUp" data-wow-delay="0.2s">
              <div class="footer-image wow fadeInUp" data-wow-delay="0.1s">
                <img src="/images/logo.svg" alt="#">
              </div>
              <div class="footer-content wow fadeInUp" data-wow-delay="0.2s">
                <p>Zasper strives to be at the forefront of the AI Revolution that is taking place around the world. We want to ease the pain of Data teams by enabling them to develop and deploy their AI solutions right from rapid prototyping to shipping into production.</p>
              </div>
              <div class="footer-social wow fadeInUp" data-wow-delay="0.3s">
                <a href="https://www.linkedin.com/company/zasper"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://github.com/zasperio"><i class="fa fa-github" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8">
            <div class="footer-menu-wraper wow fadeInUp" data-wow-delay="0.4s">
              <div>
                <div class="footer-menu wow fadeInUp" data-wow-delay="0.1s">
                  <h6>Company</h6>
                  <a href="https://zasper.io/product">Product</a>
                  <a href="https://zasper.io/pricing">Pricing</a>
                  <a href="https://zasper.io/partners">Partners</a>
                  <a href="https://zasper.io/careers">Careers</a>
                  <a href="https://zasper.io/support">Support</a>
                </div>
              </div>
              <div>
                <div class="footer-menu wow fadeInUp" data-wow-delay="0.3s">
                  <h6>Solutions</h6>
                  <a href="https://zasper.io/solutions/banking">Banking</a>
                  <a href="https://zasper.io/solutions/telecom">Telecom</a>
                  <a href="https://zasper.io/solutions/oil-and-gas">Oil and Gas</a>
                  <a href="https://zasper.io/solutions/healthcare">Healthcare</a>
                  <a href="https://zasper.io/solutions/">View More</a>
                </div>
              </div>
              <div>
                <div class="footer-menu wow fadeInUp" data-wow-delay="0.5s">
                  <h6>Community</h6>
                  <a href="/">Blog</a>
                  <a href="https://docs.zasper.io">Docs</a>
                  <a href="https://zasper.io/contact-us">Contact Us</a>
                </div>
              </div>
              <div>
                <div class="footer-menu wow fadeInUp" data-wow-delay="0.6s">
                  <h6>Legal</h6>
                  <a href="https://zasper.io/terms-and-conditions">Terms and Conditions</a>
                  <a href="https://zasper.io/privacy">Privacy Policy</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="copyright-text wow fadeInUp" data-wow-delay="0.2s">
              <p>©2021 zasper ai labs pvt ltd | All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- JavaScripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>

  </body>
</html>
