{% include header.html %}


    <section id="blog-sec">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-9">
            <div class="blog-details-wraper">

              <div class="blog-title wow fadeInUp">
                <h2>About</h2>
              </div>

              <div class="blog-description wow fadeInUp">
                <p>{{ content }}</p>
              </div>
            </div>

          </div>
          {% include search.html %}


        </div>
      </div>
    </section>

{% include footer.html %}
